.linklist {
  display:inline;
  float:left;margin:5px;
}
a {
  text-decoration:none;
}
.widgetlabel {
  background-color: transparent;
}
.linklist h2 {
  text-align:center;
} 
.guides {
  clear:both;
  display:block;
  float:left;
}